<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <!-- have logged in blah blah blah outside of form
    2 conditionals-->
    <% if(user) { %>
      <h5><%= user.email %></h5>
      <!-- button to log out-->
      <form class="form-inline" action="/logout" method="POST">
        <button type="submit" class="btn btn-primary" style="margin: .25em">Logout</button>
      </form>
    <% } else { %>
      <a class="btn btn-primary" href="/register" style="margin: .25em">Register</a>
      <a class="btn btn-primary" href="/login" style="margin: .25em">Login</a>
    <% } %>
      
  </nav>
</header>